.blog-post-title {
    font-weight: bolder;
    font-size: 18px;
    text-indent: 1%;
    margin-top: 10px;
    font-family: 'pragmatica-extended', ;
}

.new-container {
    border-style: double;
    border: 2px solid black;
    height: 150px;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
} 

.blog-post-tag {
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 1%;
    font-family:"Trebuchet MS", Arial, sans-serif;
    margin-bottom: 5px;
}

.blog-post-text {
    position: absolute;
    left: 1.5%;
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
    font-family: 'Noticia Text';
    font-weight: bold;
}

.blog-post-title:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 98%; 
    padding-top: 0;
    border-bottom: 1px solid black; 
}
